<!DOCTYPE html>
{% extends 'pratikapp/base.html'%}
{% block body_block%}
<br><br><br><br>
<h1> ACTIVITY FEED</h1>
{% if tasklist %}
<table border='1'>
  <thead>
    <th> TASKNAME</th>
    <th>DEADLINE</th>
    <th>COMPLETED</th>
    <th>MANAGE</th>
  </thead>
  {% for t in tasklist %}
     <tr>

       <td>{{t.taskname}}</td>
       <td>{{t.deadline|date:'j F,Y'}}</td>
       <td>{{t.completed}}</td>
       <td><a href="/update/{{t.id}}">UPDATE</a> &nbsp; <a href="/delete/{{t.id}}">DELETE</a></td>
     </tr>
  {% endfor%}
</table>
{% else %}
    print('table not created')
{% endif %}

{% endblock%}
